<label>Server Name</label>
<!--<input (input)="onUpdateServerName($event)" class="form-control" type="text">-->
<input [(ngModel)]="serverName" class="form-control" type="text">
<button (click)="onCreateServer()" [disabled]="!allowNewServer" class="btn btn-primary">Add Server</button>
<!--<p>{{serverName}}</p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created and the name of the server is {{serverName}}</p>
<ng-template #noServer>
  <p>No Server was created!</p>
</ng-template>

<app-server></app-server>
<!--<app-server></app-server>-->

<!--<label>Username</label>-->
<!--<input [(ngModel)]="username" class="form-control" type="text">-->
<!--<p>{{username}}</p>-->
<!--<button (click)="username = ''" [disabled]="username == ''"-->
<!--        class="btn btn-primary">Reset Username-->
<!--</button>-->
